<!DOCTYPE html>
<html>
<head>
<h>IndoorAir Homepage</h>
</head>
<body>
  <script>
    {% include "homepage/index.js" %}
  </script>

  <p>
      <button type="button" onclick="onLoginClick()">Login</button>
  </p>
  <p>
      <button type="button" onclick="onRegisterClick()">Register</button>
  </p>
  <p>
      <button type="button" onclick="onContactClick()">Contact</button>
  </p>
  <p>
      <button type="button" onclick="onGetVersionClick()">Get Version</button>
  </p>
  Version:<p id="getVersionId">---</p>
</body>
</html>
